* {
	margin:0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;;
	background: url('../img/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
    color: white;
}

h1 { 
	color: white;
	font-size: 2.5em !important;
}

h2,h3 {
	color:#eee;
}

header, footer {
	max-width:1280px;
	margin:auto;
}
footer {
    color:#eee;
    text-align:center;
    font-size:small;
    position:relative;
}
nav {
	list-style-type: none;
    display:inline-block;
}
nav ul {
	margin:0;
	padding:0;
}
nav li {
	float: left;
	padding: 0 10px;
}
nav a {
	display:block;
	width: 6em;
	line-height:6ex;
	float:left;
	text-align: center;
}

nav .current {
    background-color: #ea2;
}

a,
a:visited {
	color: #EEE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
#welcome {
    position:relative;
	top:20%;
	width:100%;
	text-align:center;
    height:55%;
}
/* Portfolio and album pages */
.album, .album-image {
    text-align:center;
}
.album-title {
    font-size:2em;
}
/* Contact page */
#contact_form {
    display:block;
    margin:0 auto;
    width:16em;
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}
input, textarea {
    width:15em;
    height:3ex;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}
input:focus, textarea:focus {
    border:1px solid #97d6eb;
}
textarea {
    height:18ex;
}

#contact_submit:hover {
    opacity:.75;
}
#contact_submit {
    width:10em;
    height:5ex;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

#contact-error {
    background: red;
    opacity:.7;
}

#contact-ok {
    background: green;
    opacity:.7;
}
